* { box-sizing: border-box; }
header { background-color: #003399; }
header img { float: left;
			 width: 250px;
			 height: 100px;
			 background: #003399;
			 font-size: 20px;
			 color: #D3D3D3;
			 padding: 20px 30px;
}
header h1 { position: relative;
			top: 15px;
			color: #D3D3D3;
			font-size: 50px;
			font-family: "Lucida Grande", sans-serif;
			letter-spacing: 1px; 
			text-align: center;
			margin: 0; }
h2 { margin-left: 10px;
	 font-size: 28px;
}

nav { display: block;
	  background-color: #D3D3D3;
	  padding-right: 10px;
	  font-size: 1.3em;
	  float: left;
	  position: relative;
}
nav a:hover { display: block;
			  border-radius: 15px;
			  background-color: #808080; 
}
nav a:visited { color: #0000CC; }
nav ul { list-style-type: none;
	     margin: 0;
	     padding: 15px; 
}
nav ul li a { display: block;
			  color: #FFFFFF;
			  background-color: #A9A9A9;
			  border-radius: 15px;
			  padding-left: 15px;
			  padding-right: 15px;
			  margin-top: 1.3em; 
}
nav ul ul { position: absolute; 
			border: 1px solid #000000;
			background-color: #D3D3D3;
			left: 180px;
			width: 220px;
			padding: 0; 
			margin: 0;
			text-align: left; 
			display: none; }
nav li ul a{ margin: 0;
			padding: 0; }
nav ul ul li { display: block; 
			   padding: 0; 
			   margin: 0 1em;
}
nav ul ul li a { margin: 5px 0 5px 0;
				 padding: 0 15px; }
nav li:hover ul { display: block; }
nav div { margin-left: 30px; }
main { background-color: #FFFFFF;
	   color: #000000;
	   display: block;
	   overflow: auto;
}
body { background-color: #D3D3D3;
	   font-family: Verdana, Arial, sans-serif;

}
p { margin: 0px 60px 50px; }
video {	border: 1px solid #000000;
		padding:0;
		margin-bottom: 80px;}
form { margin-left: auto;
	   margin-right: auto; }
footer { text-align: center;
		 font-size: small;
	     font-style: italic;
		 height: 30px;
		 background-color: #D3D3D3;
}
footer div { padding-top: 5px; }
fieldset { width: 500px;
		   border: 3px solid red;
		   margin-left: 50px;
		   padding-right: 50px; }
fieldset div { margin-left: 30px; }
input { width: 100%; }
textarea { color: #000000; }
a { text-decoration: none; }
table { border-collapse: collapse;
		margin-left: auto;
		margin-right: auto; }
td { width: 130px;
	 text-align: center; 
	 padding: 5px; 
	 border: 1px solid #000000; }
thead th { padding: 5px 0;
		   background-color: #203864;
		   color: #FFFFFF; 
		   border: 1px solid #000000; }
.rankupinfo { display: block;
			  text-align: center; 
			  margin-top: 100px;
			  margin-bottom: 30px;}
.rankupinfo a { color: #003399; }
.clearleft { clear: left; }
.centertext { text-align: center;
			  }
.centerarea { margin-left: auto;
			  margin-right: auto; }
.clickherebutton { list-style-type: none;
				   color: #FFFFFF;
				   background-color: #A9A9A9;
		           border-radius: 15px;
				   font-size: 35px;
				   margin-left: 80px;
				   margin-right: 80px;
				   padding: 0;
}
.textbody { margin: 0 0 0 15px; }
.textbody p { margin: 0; }

.breadcrumb { display: line-block;
			  padding: 10px 10px;
			  list-style: none;
			  width: 100%;
			  background-color: #eb984e; 
			  margin: 0;
			  color: #0A0A64;}
.breadcrumb li { display: inline;
				 text-decoration: none;
				 font-size: 18; 
				 color:  #0A0A64;}
.breadcrumb li a { color: #0A0A64;
				   text-decoration: none; }
.breadcrumb li a:hover { color: #0B0BBB;
						 text-decoration: underline; }
.instructorphoto { display: block;
				   border: 1px solid #000000;
				   width: 200px;
				   height: 300px;
				   margin-right: auto;
				   margin-left: auto; 
				   text-align: center; }
.bottomborder { border-bottom: 2px solid #000000; }
.firstletterp p { text-indent: 5em; }
.firstletterp p:first-letter { font-size: 3em;
						   font-weight: bold;
						   color: #003399;
}
.contactp { margin: 15px 0 0 50px; }
.ltbluschedule { background-color: #B3C6E7; }
.medbluschedule { background-color: #2E5495; 
				  color: #FFFFFF; }
.pdf { width: 700px;
	   height: 900px;
	   margin-left: auto;
	   margin-right: auto; }
.cover { border: none;
		 position: absolute;
		 top: 0;
		 left: 0;
		 height: 100%;
		 width: 100%;
		 z-index: -1;}

#outer { position: relative;
		 left: 150px;
		 top: 20px;
		 width: 100px;
		 z-index: 2; }
#inner { background: red; }
#visitus {display: block;
	  background-color: #D3D3D3;
	  padding-right: 10px;
	  font-size: 1.3em;
	  float: left;
	  position: absolute;
	  top: 500px;
	  margin-left: 30px;}
tbody #classschedule { width: 280px;
					   text-align: left;
				       font-weight: bold; 
					   padding: 10px 5px;}
tbody #sat { background-color: #D9E2F3;
			 width: 120px; }
tbody #sun { width: 80px; }
a #kidsinfoblock, a #adultinfoblock { display: inline-block;
									  vertical-align: top;
									  height: 380px;
									  width: 450px;
 }
img #adultinfoblock { display: inline; }
#kidsinfoblock h2, #adultinfoblock h2 { margin-top: 10px;
										font-size: 28px; }
#signupbar h2 {margin-top: 20px;
			   padding-top: 20px;}
#kidsinfoblock { background-color: #003399;
				 color: #D3D3D3;
				 margin-right: 10px;
}

#adultinfoblock { background-color: #D3D3D3;
				  color: #003399; 
				  margin-left: 10px;
}
#adultinfoblock .clickherebutton { margin-top: 75px; }
#karatematimg { background-color: #FFFFFF;
				width: 100%;
				height: 100%;
				background-size: 100% 100%;
				color: #000000;
				font-size: 20px;
}
#submit { width: 100px; }
#reset { width: 100px; }
#signupbar { display: block;
			 height: 150px;
			 margin-top: 50px;
			 background-color: #000000;
			 color: #D3D3D3; 
			 text-align: center;}
#signupbutton { list-style-type: none;
			    color: #FFFFFF;
			    background-color: #A9A9A9;
			    border-radius: 15px;
			    font-size: 35px;
				margin-top: 0;
				width: 200px;
				margin-left: auto;
			    margin-right: auto;
				margin-bottom: 0px;
			    padding: 0;
}
